.nav{
    width: 100%;
    height: 146px;
    background-color: #FFF4E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    flex-wrap: wrap;

}
.nav1 img{
   height: auto;
   width: auto;
}
.nav2 ul {
    display: flex;
    list-style: none;
    gap: 40px;
   
}
.nav2 ul a{
    text-decoration: none;
    color: black;
}
.nav2 ul a:hover{
    color: blue;
}
.img1{
    width: 640px;
    height: 404px;
}
.img1 img{
    width: 100%;
    max-width: 640px;
    height: 100%;
    border-radius: 10px;
}
.sect1{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
    margin-top: 6%;
    width: 90%;
    /* flex-wrap: wrap; */
    
}
.item1{
    width: 50%;
}
.item1 h1{
    font-size: 86.41px;
    line-height: 100px;
}
.button1{
    text-align: center;
    color: white;
    background-color: #42C2B2;
    width: 224px;
    height: 61px;
    border-radius: 10px;
    border: none;
}
.button1:hover{
    color: black;
    background-color: burlywood;
}
.sect2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 125px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 8%;
}
.item2{
    width: 100%;
    height: 36.32px;
    text-align: left;
    
    
}
.item2 h1{
    font-size: 50px;
    margin-bottom: 15px;
    
}
.item21{
    display: flex;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    gap: 5px;
    width: 102%;
}
.service_images h2{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 15px;
    z-index: 1
;
}
.service_images:hover {
  opacity: 0.7; 
}
.service_images{
    width: 310.55px;
    height: 368.78px;
    position: relative;
    transition: opacity 0.3s ease-in-out;
}
.service_images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service_images::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 242.16px; 
    background-image: linear-gradient(to top, black, transparent);
}
.footer{
    background-color: #FFF4E6;
    width: 100%;
    height: 391px;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.foot1{
    width: 219.57px;
    height: 86px;
}
.foot2{
    display: flex;
    gap: 20px;
}

.foot2 a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot2 a img{
   object-fit: contain;
}
.dropdown{
  display: none;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-left: -12rem;
  height: fit-content;
  width: fit-content;
  box-shadow: 8px 8px 19px 2px #0000009e;
  font-family: Poppins Regular;
}

 .dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover{
  color: #fe8801;

}
  .dropdown-content{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Mobile view */
@media (max-width: 320px) {

.nav2 ul{
  flex-direction: column;
}
  .sect1 {  
    flex-direction: column;
  }
  .nav1{
    width: 130px;
    height: 50px;
  }
  .nav1 img{
    width: 100%;
    height: 100%;
  }
 .nav2{
  display: none;
 } 
 .dropdown{
  display: block;
 }
 
  .item1{
    width: 100%;
  }
  .item1 h1{
    font-size: 50px;
    line-height: 70px;
  }
  .img1{
    width: 100%;
    height: auto;
  }
  .item21{
    flex-direction: column;
  }
.service_images{
    width: 100%;
}
.button1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.item2{
    margin-bottom: 70px;
}
.foot1 img{
    width: 80%;
}
}
@media (min-width: 321px) and (max-width: 640px) {
  .nav2 ul{
    flex-direction: column;
  }
   .dropdown{
  display: block;
 }
 .nav2{
  display: none;
 }

    .sect1 {  
    flex-direction: column;
    align-items: normal;
  }
  .item1{
    width: 100%;
  }
  .item1 h1{
    font-size: 60px;
    line-height: 80px;
  }
  
  .nav1{
    width: 130px;
    height: 50px;
  }
  .nav1 img{
    width: 100%;
    height: 100%;
  }
  .item1{
    width: 100%;
  }
  .img1{
    width: 100%;
    height:auto;
  }
  .item21{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .service_images{
    width: 100%;
}
.button1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.item2{
    margin-bottom: 70px;
}
.foot1 img{
    width: 80%;
}

 }
 @media (min-width: 641px) and (max-width: 768px) {
   .nav2 ul{
    flex-direction: column;
  }
   .dropdown{
  display: block;
 }
 .nav2{
  display: none;
 }
    .sect1 {  
    flex-direction: column;
    align-items: normal;
  }
  .item1{
    width: 100%;
  }
  .nav1{
    width: 130px;
    height: 50px;
  }
  .nav1 img{
    width: 100%;
    height: 100%;
  }
  .item1{
    width: 100%;
  }
  .img1{
    width: 100%;
    height:auto;
  }
  .item21{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .service_images{
    width: 100%;
}
.button1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.item2{
    margin-bottom: 70px;
}

.sect2{
    gap: 70px;
}
 }
@media (min-width: 769px) and (max-width: 1280px){
     .sect1 {  
    flex-wrap: wrap;
  }
  .item1{
    width: 100%;
  }
  .nav1{
    width: 130px;
    height: 50px;
  }
  .nav1 img{
    width: 100%;
    height: 100%;
  }
  .item1{
    width: 100%;
  }
  .img1{
    width: 100%;
    height:auto;
  }
  .item21{
    
    flex-wrap: wrap;
  }
  .service_images{
    width: 100%;
}
.button1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.item2{
    margin-bottom: 70px;
}

.sect2{
    gap: 70px;
}
}